{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="post-type-page fourOhFour">
			<h1>404</h1>
			<p class="lead">Sorry! This url doesn't exist.</p>
		</div>
	</div>
{% endblock %}