.button
  display inline-block
  padding 0 10px
  height 40px
  line-height 37px
  border 2px solid $dark
  font-weight 700
  border-radius 3px
  font-size 14px
  letter-spacing 1px
  transition background 150ms ease-out-quart
  text-decoration none
  color $dark

  &:hover
    background rgba(white, .7)
