footer
  background-color rgba(white, .9)
  padding 40px 40px 100px 20px
  position relative
  display inline-flex
  margin 20px
  border-radius 4px

  +above(tablet)
    padding 100px 70px 150px 50px

  .mhr-card
    flex none
    max-width 425px
    margin 0

    .mhr-card__border
      padding 40px

  a
    font-weight 200
    display block
    padding 1em 0

    +above(tablet)
      padding 0

    span
      display block

    .fa
      float right
      transform translateY(-2px)
