footer
  // background-color rgba(white, .9)
  position relative
  // margin 20px
  // border-radius 4px
  // background rgba($primary, .5)
  width 100%
  padding 20px
  
  
  .footer-wrap
    background $secondary
    width 100%
    border-radius 3px
    padding 40px 40px 100px 20px
    max-width $max-content-width
    margin auto
    +above(tablet)
      padding 100px 70px 100px 50px
    +above(desktop)
      display flex
  
  .copyright
    margin-left auto
    margin-top auto

  .mhr-card
    flex none
    max-width 425px
    margin 0

    .mhr-card__border
      padding 40px

  a
    font-weight 200
    display block
    padding 1em 0

    +above(tablet)
      padding 0

    span
      display block

    .fa
      float right
      transform translateY(-2px)
