.grid
  column-count 2
  +above(tablet)
    column-count 3

.grid-item
  position relative
  margin 0 0 15px 0
  display inline-block
  vertical-align top
  width 100%
  padding 4px
  background white
  box-shadow 0 3px 7px -1px rgba(black, .25)

  +above(tablet)
    padding 10px

  img
    max-width 100%
    height auto
