// .logo
.logo--mhr
  width 150px
  display inline-block
  margin 10px
  vertical-align top

  +above(tablet)
    margin 20px

.logo--tilth
  height 150px

.logo--young-american
  width 100%

// .logo--gb
//
// .logo--agrodolce
//
// .logo--catering
