.content-wrapper
  padding 120px 20px 20px
  min-height 100%
  +above(tablet)
    padding-top 220px

.post-type-page
  background rgba(white, .8)
  padding 20px
  border-radius 4px
  +above(tablet)
    padding 40px 60px

  p
    max-width 750px

  .row
    +above(tablet)
      display flex

.page-image
  +above(tablet)
    padding-left 2em
.page-image img
  max-width 100%
  border 1em white solid
