.Person
    padding-bottom 40px
    +above(tablet)
        display flex
    
    h2
        margin-bottom 1rem
    
    h2, h3
        color $dark

.Person-portrait
    margin-bottom 1rem
    +above(tablet)
        width 300px

.Person-info
    +above(tablet)
        padding 0 40px