.post-type--restaurant,
.post-type--event,
.post-type--menu,
.post-type--gift_certificates
  background rgba($secondary, .9)
  padding 20px
  border-radius 3px

  +above(tablet)
    display flex
  +above(desktop)
    padding 40px 60px
    max-width $max-content-width
    margin auto

  .article-h1
    margin 20px 0
  
  .article-body h4
    margin 1rem 0

  .article-body p
    max-width 60ch

  .article-body p:first-child
    font-size 1.2rem
    margin-bottom 2rem
    max-width 100%
    +above(desktop)
      font-size 1.4rem

  .article-h1
    font-size 1.5rem
    font-weight 400
    +above(desktop)
      font-size 2.5rem

  .logo
    display block

  .logo--young-american-ale-house
    padding-bottom 1em
    width 100px

    +above(desktop)
      width 150px

    img
      max-width 100%
      height auto

  a.reservation-link,
  a.telephone-link
    padding-right 0

  .mhr-card__special-events
    padding 40px 20px
    background rgba(white, .6)
    margin-bottom 40px

  .mhr-card__special-events__title
    margin-bottom 1rem

.restaurant-summary
  padding 40px 0
  +above(tablet)
    padding 40px 0 40px 20px
  +above(desktop)
    padding 100px 0
  p:last-child
    margin-bottom 0

.restaurant-info
  flex 1 0 auto
  max-width 420px
  +above(tablet)
    width 420px
  +above(desktop)
    padding-right 60px

  .logo
    margin-bottom 1em

.restaurant-info__container
  max-width 500px
  padding-top 40px

  h3,
  h4
    margin 2em 0 1em

  .address
    font-size 1.35rem
    line-height 1.5
    margin-bottom .5em

.restaurant-page
  padding-bottom 50px

  h2
    margin 2em 0 1em

  +above(desktop)
    .logo
      display none

.restaurant-sub-page
  display flex
  flex-direction column
  +above(desktop)
    flex-direction row

  .restaurant-page
    order 0
    +above(desktop)
      order 1
  .restaurant-info
    order 1
    +above(desktop)
      order 0


.restaurant-page-mobile-logo
  +above(desktop)
    display none

.restaurant-info-row
  margin-bottom 6px